<footer>
    <div class="container">
      <div class="text-center"> 
        
        <p class="intro-small margin-t-40">Text final sur Roots Art Cr&eacute;ations... for furniture store, fashion shop, accessories, electric shop. We have included multiple layouts for home page to give you best selections in customization.</p>
      </div>
      
      <!--  Footer Links -->
      <div class="footer-link row">
        <div class="col-md-6">
          <ul>
            
            <!--  INFOMATION -->
               <li class="col-sm-6">
              <h5>CONTACT</h5>
              <p><img src="{{ asset('images/pot/icon-mail.png') }}"/> contact@rac.fr<br/>
                 <img src="{{ asset('images/pot/icon-tel.png') }}"/> 0696 696 696<br/> 
                 <img src="{{ asset('images/pot/icon-web.png') }}"/> www.rootsartcreations.fr<br/>
                 
                 
                 </p>
            </li>
            
            
            
            
            
            <!-- MY ACCOUNT -->
               <li class="col-sm-6">
              <h5>PARTENAIRES </h5>
              <p><img src="{{ asset('images/pot/icon-web.png') }}"/>www.autres.fr<br/>
              <img src="{{ asset('images/pot/icon-web.png') }}"/> www.autres.com<br/>
              <img src="{{ asset('images/pot/icon-web.png') }}"/> www.autres.fr<br/> 
              
              
              </p>
            </li>
          </ul>
        </div>
        
        
        
        
        
        
        <!-- Second Row -->
        <div class="col-md-6">
          <ul class="row">
            
            <!-- TWITTER -->
            <li class="col-sm-6">
              <h5>R&Eacute;SEAUX</h5>
              <p>
              <img src="{{ asset('images/pot/icon-facebook.png') }}"/>Facebook<br/>
              <img src="{{ asset('images/pot/icon-insta.png') }}"/>Instagram<br/>
              </p>
            </li>
            
            <!-- FLICKR PHOTO -->
            <li class="col-sm-6">
              <h5>SOCI&Eacute;T&Eacute;</h5>
              <div><a href="#"><img src="{{ asset('images/logo.png') }}" alt=""></a></div><br>
            </li>
          </ul>
        </div>
      </div>
      
      <!-- Rights -->
      <div class="rights">
        <p> 2017  &copy; RootS Art Cr&eacute;ations   By Sunnightweside</p>
      </div>
    </div>
  </footer> 