  <!-- Header -->
  <header class="header-style-2"> 
    <!-- Top Bar -->
    <div class="top-bar">
      <div class="container"> 
        <!-- Language -->
       
        <div class="top-links">
          <ul>
            <li><a href="inscription.html"><img src="{{ asset('images/pot/login.gif') }}"/></a></li>
            <li class="font-montserrat">INDICE : 
              <select class="selectpicker">
              <option>EURO</option>
              <option>USD</option>
                
              </select>
            </li>
          </ul>
          <!-- Social Icons -->
          <ul class="social_icons">
            <li class="facebook"><a href="#"><img src="{{ asset('images/pot/facebook.png') }}" }}/> </a></li>
           </ul>
        </div>
      </div>
    </div>
    
    <!-- Logo -->
    <div class="container">
      <div class="logo"> <a href="#"><img src="{{ asset('images/logo-dark.gif') }}" alt=""></a> </div>
      </div>
      
      
         <div class="sticky">
      <div class="container">

      <!-- Nav -->
      <!-- Nav -->
        <nav class="webimenu"> 
          <!-- MENU BUTTON RESPONSIVE -->
          <div class="menu-toggle"> <i class="fa fa-bars"> </i> </div>
          <ul class="ownmenu">
          <li class="active"><a href="accueil">Accueil</a></li>
          <li class="active"><a href="news.html">News</a></li>  
          
          <li><a href="">Boutique</a>
            <ul class="dropdown">
              <li><a href="#">Bijoux</a>
                <ul class="dropdown">
                  <li><a href="boutique.html">Colliers</a></li>
                  <li><a href="boutique.html">Bracelets</a></li>
                  <li><a href="boutique.html">Bagues</a></li>
                  <li><a href="boutique.html">Boucles D&acute;Oreilles</a></li>
                 </ul>
              </li>
              
              <li><a href="#">Accessoires</a>
                <ul class="dropdown">
                  <li><a href="boutique.html">Sacs</a></li>
                  <li><a href="boutique.html">Ceintures</a></li>
                </ul>
              </li>
              
              <li><a href="#">Bien &ecirc;tre</a>
                <ul class="dropdown">
                  <li><a href="boutique.html">Encens</a></li>
                  <li><a href="boutique.html">Huiles</a></li>
                  <li><a href="boutique.html">Parfum</a></li>
                  <li><a href="boutique.html">Autres...</a></li>
                </ul>
              </li>
              
              
              <li><a href="#">D&eacute;co & Objets</a>
                <ul class="dropdown">
                      <li><a href="boutique.html">Tasse Coco</a></li>
                      <li><a href="boutique.html">Porte-Monaie</a></li>
                      <li><a href="boutique.html">Coui Calbasse</a></li>
                      <li><a href="boutique.html">Coui Calbasse</a></li>
                </ul>
              </li>              
              
              
             
            
            </ul>
          </li>
          
          <li><a href="creations.html">Cr&eacute;ations</a></li>
         
    
          <li><a href="contact.html">Contact</a></li>

          
          
          
        

          
          <!--======= nombre d articles en indice met ton php =========-->
          <li class="shop-cart"><a href="#."><img src="{{ asset('images/pot/cadi.png') }}"/></i></a> <span class="numb">2</span>
           
           
           
            <ul class="dropdown">
              <li>
                <div class="media">
                  <div class="media-left">
         <div class="cart-img"><img class="media-object img-responsive" src="{{ asset('images/colliers/co-01.png') }}" alt="..."></div>
                  </div>
                  
                  
                  
                  
                  <div class="media-body">
                    <h6 class="media-heading">Article en bois</h6>
                    <span class="price">10.00 euros</span> <span class="qty">QTY: 2</span> </div>
                </div>
              </li>
              <li>
                <div class="media">
                  <div class="media-left">
          <div class="cart-img"><img class="media-object img-responsive" src="{{ asset('images/bracelets/br-01.jpg') }}" alt="..."></div>
                  </div>
                  
                  
                  
                  
                  
                  
                  <div class="media-body">
                    <h6 class="media-heading">Article en bois </h6>
                    <span class="price">29.00 euros</span> <span class="qty">QTY: 01</span> </div>
                </div>
              </li>
              <li class="no-padding no-border">
                <h5 class="text-center">TOTAL: 49.00 euros</h5>
              </li>
              
              
              
              <li class="no-padding no-border">
                <div class="row">
                  <div class="col-xs-6"> <a href="#." class="btn btn-small">VIDER</a></div>
                  <div class="col-xs-6 "> <a href="#." class="btn btn-1 btn-small">VALIDER</a></div>
                </div>
              </li>
            </ul>
          </li>
          <!--======= SEARCH ICON =========-->
          <li class="search-nav"><a href="#."><img src="{{ asset('images/pot/recherche.png') }}"/></i></a>
            <ul class="dropdown">
              <li class="row">
                <div class="col-sm-4 no-padding">
                  <select class="selectpicker">
                    <option>Colliers</option>
                    <option>Bracelets</option>
                    <option>Boucle d&acute;Oreilles</option>
                    <option>Bagues</option>
                    <option>Sacs</option>
                    <option>Ceintures</option>
                    <option>Portes Monaies</option>
                    <option>Encents</option>
                    <option>Huiles</option>
                    <option>Parfums</option>
                    <option>Acessoires</option>
                    <option>Tasse Coco</option>
                    <option>Vase Coco</option>
                   </select>
                </div>
                <div class="col-sm-8 no-padding">
                  <input type="search" class="form-control" placeholder="Votre recherche ici...">
                  <button type="submit"> <img src="{{ asset('images/pot/recherche1.png') }}"/></i> </button>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    </div>
  </header>

  
 
  <!-- Header End --> 
    
   <!--======= PARALLAX SECTION =========-->
    {% block parallax1 %}
        <section class="parallex animate fadeInUp" data-wow-delay="0.4s" data-stellar-background-ratio="0.7">
            <div class="overlay">
                <div class="container"> <span>Roots Art Cr&egrave;ations</span>
                    <h3>Produits et Bijoux Naturel</h3>
                    <a href="#." class="btn">CONSULTER NOS PRODUITS</a> 
                </div>
            </div>
        </section>  
    {% endblock %}  
   <!--======= fin PARALLAX SECTION =========--> 
  

  <!-- CONTENT START -->
  <div class="content"> 
    
    <!--======= NEW COLLECRION =========-->
    <section class="section-p-30px new-collection">
      <div class="container">
        <div class="new-col-slide animate fadeInUp" data-wow-delay="0.4s"> 
          <!-- Slider 1 -->
          
          
          <div class="inn-sec"> <a href="article"> 
          <img src="{{ asset('images/new-collec-1.jpg') }}" alt="" > 
          <span><i></i> BIJOUX NATURELS </span> </a> </div>
          <!-- Slider 2 -->
          
          
          
          <div class="inn-sec"> <a href="#."> 
          <img src="{{ asset('images/new-collec-2.jpg') }}" alt="" > 
          <span><i></i> ACCESSOIRES </span> </a> </div>
          <!-- Slider 3 -->
          
          
          <div class="inn-sec"> <a href="#."> 
          <img src="{{ asset('images/new-collec-3.jpg') }}" alt="" > 
          <span><i></i> BIEN ETRE </span> </a> </div>
          <!-- Slider 5 -->
          
          
          
          <div class="inn-sec"> <a href="#."> 
          <img src="{{ asset('images/new-collec-4.jpg') }}" alt="" > 
          <span><i></i> DECO & OBJETS </span> </a> </div> 
          
        </div>
      </div>
    </section>
    <!--======= PARALLAX SECTION =========-->
   
    {% block parallax2 %}
        <section class="subcribe animate fadeInUp" data-wow-delay="0.4s" data-stellar-background-ratio="0.8">
          <div class="overlay">
            <div class="container">
             <br/> <br/> <br/> <br/>
                </div>
              </div>
            </div>
          </div>
        </section>
    {% endblock %}   
 <!--======= fin PARALLAX SECTION =========-->    
    
   