<footer>
    <div class="container">
      <div class="text-center"> 
        
        <p class="intro-small margin-t-40">Roots Art & Création, notre créativité à votre service.</p>
      </div>
      
      <!--  Footer Links -->
      <div class="footer-link row">
        <div class="col-md-6">
          <ul>
            
            <!--  INFOMATION -->
               <li class="col-sm-6">
              <h5>CONTACT</h5>
              <p>
                 <img src="{{ asset('images/pot/icon-tel.png') }}"/> 0695334453<br/> 
                 <a href="{{path('gg_boutique_contact')}}"><img src="{{ asset('images/pot/icon-mail.png') }}"/> contact@rootsart.fr</a><br/>
                 
                 
                 </p>
            </li>
            
            
            
            
            
            <!-- MY ACCOUNT -->
               <li class="col-sm-6">
              <h5>PARTENAIRES </h5>
              <p><a href="http://www.passmartinique.com" target="_blank"><img src="{{ asset('images/pot/icon-web.png') }}"/>www.passmartinique.com</a><br/>
              <a href="http://www.sunnightwebside.com/" target="_blank"><img src="{{ asset('images/pot/icon-web.png') }}"/> www.sunnightwebside.com<br/></a>
              <!--img src="{{ asset('images/pot/icon-web.png') }}"/> www.autres.fr<br/--> 
              
              
              </p>
            </li>
          </ul>
        </div>
        
        
        
        
        
        
        <!-- Second Row -->
        <div class="col-md-6">
          <ul class="row">
            
            <!-- TWITTER -->
            <li class="col-sm-6">
              <h5>R&Eacute;SEAUX</h5>
              <p>
              <a href="https://www.facebook.com/RootsartCreations" target="_blank"><img src="{{ asset('images/pot/icon-facebook.png') }}"/>Facebookk</a><br/>
              <img src="{{ asset('images/pot/icon-insta.png') }}"/>Instagram<br/>
              </p>
            </li>
            
            <!-- FLICKR PHOTO -->
            <li class="col-sm-6">
              <h5>SOCI&Eacute;T&Eacute;</h5>
              <div><a href="#"><img src="{{ asset('images/logo.png') }}" alt=""></a></div><br>
            </li>
          </ul>
        </div>
      </div>
      
      <!-- Rights -->
      <div class="rights">
        <p> 2017  &copy; RootS Art & Cr&eacute;ations</p>
      </div>
    </div>
  </footer> 